//
// Brand Colors
$brand_color_green: #A4CE39 !default;
$brand_color_purple: rebeccapurple !default;
//
// Default Colors
$html_background: #f7f4f1 !default;
$html_text_color: #222 !default;
$html_link_color: $brand_color_green;
//
//  Typography
$html_font_family: Georgia, Droid Serif, serif !default;
$html_line_height: 1.4 !default;
$headlines: (
  h1: 3.815em,
  h2: 3.052em,
  h3: 2.441em,
  h4: 1.953em,
  h5: 1.563em,
  h6: 1.25em
) !default;
//
//  Media Queries
$mq_base_font_size: 16px !default;
$mq_responsive: true !default;
$mq_breakpoints: (
  mobile: 30em,
  tablet: 36em,
  desktop: 48em,
  wide: 62em
) !default;
$mq_static_breakpoint: desktop !default;
$mq_media_type: all !default;