@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5;
  background-color: transparent;
  color: #0a0a0a;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #dee2e6;
  margin: 0;
  padding: 1rem;
}

legend {
  border: 0;
  padding: 0 1rem;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

img[width],
img[height] {
  max-width: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  color: #4c6ef5;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.45s cubic-bezier(0.57, -0.24, 0.49, 1.56);
  transition: all 0.45s cubic-bezier(0.57, -0.24, 0.49, 1.56);
}

a:active {
  outline: 0;
  color: #495057;
}

a:hover {
  outline: 0;
  color: #495057;
}

a:focus {
  outline-color: #4c6ef5;
}

::-moz-selection {
  background: #adbcfa;
}

::selection {
  background: #adbcfa;
}

abbr[title] {
  border-bottom: 2px dotted #4c6ef5;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

dfn {
  font-style: italic;
}

mark {
  background: #adbcfa;
}

small {
  font-size: 90%;
}

sub,
sup {
  font-size: 90%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.5rem;
}

hr {
  height: 0;
}

kbd {
  background-color: whitesmoke;
  border: 1px solid #dee2e6;
  padding: 0.25rem;
  border-radius: 3px;
}

samp,
code {
  background-color: whitesmoke;
  color: #fa5252;
  display: block;
  padding: 1rem;
  font-family: "Inconsolata", "Consolas", "Monaco", monospace;
}

samp,
pre {
  overflow: auto;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 4rem 1rem;
}

.columns {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
}

@media screen and (min-width: 48rem) {
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .columns:not(:last-child) {
    margin-bottom: 0;
  }
}

.column {
  display: block;
  padding: 1rem;
}

@media screen and (min-width: 48rem) {
  .column {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }

  .column.is-1 {
    width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-2 {
    width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-3 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-4 {
    width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-6 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-9 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-11 {
    width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .column.is-12 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 300;
  line-height: 1.125;
  margin-bottom: 1rem;
}

.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child) {
  margin-top: 2rem;
}

.content h1 {
  font-size: 3rem;
  font-weight: 700;
}

.content h2 {
  font-size: 2.5rem;
}

.content h3 {
  font-size: 2rem;
}

.content h4 {
  font-size: 1.5rem;
}

.content h5 {
  font-size: 1.25rem;
}

.content h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.content ul,
.content ol {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.content ol {
  list-style: decimal outside;
}

.content ol ol {
  list-style: upper-roman outside;
}

.content ol ol ol {
  list-style: lower-roman outside;
}

.content ul {
  list-style: disc outside;
}

.content ul ul {
  list-style-type: circle;
  margin-top: 0.5rem;
}

.content ul ul ul {
  list-style-type: square;
}

.content li + li {
  margin-top: 0.25rem;
}

.content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dee2e6;
  padding: 1.5rem;
  font-style: italic;
  text-indent: -0.41rem;
  quotes: '"' '"';
}

.content blockquote p:before {
  content: '"';
  content: open-quote;
}

.content blockquote p:after {
  content: "";
  content: no-close-quote;
}

.content blockquote p:last-of-type {
  margin-bottom: 0;
}

.content blockquote p:last-of-type:after {
  content: '"';
  content: close-quote;
}

.content blockquote q:before {
  content: "\2018";
  content: open-quote;
}

.content blockquote q:after {
  content: "\2019";
  content: close-quote;
}

.content blockquote .source {
  display: block;
  margin-top: 0.5rem;
  text-indent: 0;
}

.content blockquote .source:before {
  content: "\2014";
}

.content blockquote:not(:last-child),
.content p:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content code:not(:last-child) {
  margin-bottom: 1rem;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.85rem;
  height: 32px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.button:hover {
  border-color: #ced4da;
}

.button:active,
.button:focus {
  border-color: #228ae6;
  outline: none;
}

.button[disabled] {
  background-color: whitesmoke;
  border-color: #dee2e6;
  cursor: not-allowed;
  pointer-events: none;
}

.button.is-white {
  background-color: #fff;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-white:hover {
  background-color: #f4f4f4;
  border-color: #e6e5e5;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-white:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.25);
  color: rgba(0, 0, 0, 0.7);
}

.button.is-white:active {
  background-color: #f2f2f2;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: rgba(0, 0, 0, 0.7);
}

.button.is-white[disabled] {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-grey {
  background-color: #adb5bd;
  border-color: transparent;
  color: #fff;
}

.button.is-grey:hover {
  background-color: #a0aab3;
  border-color: #919ca6;
  color: #e6e5e5;
}

.button.is-grey:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(173, 181, 189, 0.25);
          box-shadow: 0 0 0.5em rgba(173, 181, 189, 0.25);
  color: #fff;
}

.button.is-grey:active {
  background-color: #9fa8b2;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #fff;
}

.button.is-grey[disabled] {
  background-color: #adb5bd;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-black {
  background-color: #0a0a0a;
  border-color: transparent;
  color: #fff;
}

.button.is-black:hover {
  background-color: black;
  border-color: black;
  color: #e6e5e5;
}

.button.is-black:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(10, 10, 10, 0.25);
          box-shadow: 0 0 0.5em rgba(10, 10, 10, 0.25);
  color: #fff;
}

.button.is-black:active {
  background-color: black;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #fff;
}

.button.is-black[disabled] {
  background-color: #0a0a0a;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-primary {
  background-color: #4c6ef5;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #365cf4;
  border-color: #1c47f2;
  color: #e6e5e5;
}

.button.is-primary:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(76, 110, 245, 0.25);
          box-shadow: 0 0 0.5em rgba(76, 110, 245, 0.25);
  color: #fff;
}

.button.is-primary:active {
  background-color: #345af4;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #fff;
}

.button.is-primary[disabled] {
  background-color: #4c6ef5;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-info {
  background-color: #228ae6;
  border-color: transparent;
  color: #fff;
}

.button.is-info:hover {
  background-color: #187ed9;
  border-color: #1670bf;
  color: #e6e5e5;
}

.button.is-info:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(34, 138, 230, 0.25);
          box-shadow: 0 0 0.5em rgba(34, 138, 230, 0.25);
  color: #fff;
}

.button.is-info:active {
  background-color: #187dd6;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #fff;
}

.button.is-info[disabled] {
  background-color: #228ae6;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-success {
  background-color: #40c057;
  border-color: transparent;
  color: #fff;
}

.button.is-success:hover {
  background-color: #3aaf4f;
  border-color: #339a45;
  color: #e6e5e5;
}

.button.is-success:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(64, 192, 87, 0.25);
          box-shadow: 0 0 0.5em rgba(64, 192, 87, 0.25);
  color: #fff;
}

.button.is-success:active {
  background-color: #39ad4e;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #fff;
}

.button.is-success[disabled] {
  background-color: #40c057;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-warning {
  background-color: #fab005;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:hover {
  background-color: #e4a005;
  border-color: #c88d04;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(250, 176, 5, 0.25);
          box-shadow: 0 0 0.5em rgba(250, 176, 5, 0.25);
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:active {
  background-color: #e19e05;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning[disabled] {
  background-color: #fab005;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-danger {
  background-color: #fa5252;
  border-color: transparent;
  color: #fff;
}

.button.is-danger:hover {
  background-color: #f93c3c;
  border-color: #f92020;
  color: #e6e5e5;
}

.button.is-danger:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(250, 82, 82, 0.25);
          box-shadow: 0 0 0.5em rgba(250, 82, 82, 0.25);
  color: #fff;
}

.button.is-danger:active {
  background-color: #f93939;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #fff;
}

.button.is-danger[disabled] {
  background-color: #fa5252;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.is-hidden {
  display: none;
  visibility: hidden;
}

.has-text-hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font: "0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.has-text-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-invisible {
  visibility: hidden;
}

.is-visually-hidden,
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.is-visually-hidden.is-focusable:active,
.is-visually-hidden.is-focusable:focus,
.sr-only.is-focusable:active,
.sr-only.is-focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}

