@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  background: #FFFFEE;
  min-height: 100%;
  overflow-y: scroll; }

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.6;
  background-color: transparent;
  color: #222; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #e0e5ee;
  margin: 0;
  padding: 1rem; }

legend {
  border: 0;
  padding: 0 1rem; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

img[width],
img[height] {
  max-width: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  background: transparent;
  color: #A4CE39;
  text-decoration: none; }
  a:visited {
    color: #A4CE39; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0;
    color: #86aa2a; }
  a:focus {
    outline-color: #A4CE39; }

ul, ol {
  padding-left: 1.5rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

::-moz-selection {
  background: rgba(164, 206, 57, 0.5); }

::selection {
  background: rgba(164, 206, 57, 0.5); }

abbr[title] {
  border-bottom: 2px dotted rgba(164, 206, 57, 0.5); }

b, strong {
  font-weight: bold; }

em, i {
  font-style: italic; }

dfn {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1; }

h1 {
  font-size: 3.583em; }

h2 {
  font-size: 2.074em; }

h3 {
  font-size: 1.728em; }

h4 {
  font-size: 1.44em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: inherit; }

mark {
  background: rgba(164, 206, 57, 0.5);
  color: #222;
  padding: 2px; }

small {
  font-size: 90%; }

sub,
sup {
  font-size: 90%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5rem; }

sub {
  bottom: -0.5rem; }

hr {
  height: 0; }

kbd {
  border: 1px solid #FFFFEE;
  padding: 0.25rem; }

samp,
code {
  display: block; }

samp,
pre {
  padding: 1rem;
  overflow: auto;
  margin: 0; }

blockquote {
  margin: 1rem;
  font-style: italic;
  font-size: 110%;
  text-indent: -0.41em;
  quotes: '"' '"'; }
  blockquote p:before {
    content: '"';
    content: open-quote; }
  blockquote p:after {
    content: "";
    content: no-close-quote; }
  blockquote p:last-of-type {
    margin-bottom: 0; }
  blockquote p:last-of-type:after {
    content: '"';
    content: close-quote; }
  blockquote q:before {
    content: "\2018";
    content: open-quote; }
  blockquote q:after {
    content: "\2019";
    content: close-quote; }

.example {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh; }

.button {
  border: none;
  padding: 1rem 2.3rem;
  color: black;
  background-color: gray; }
  .button:hover {
    color: white; }
  .button:active {
    background-color: orange; }
  @media (min-width: 34em) {
    .button {
      background-color: green; } }
  @media (min-width: 48em) {
    .button {
      background-color: blue; } }
  @media (min-width: 62em) {
    .button {
      background-color: purple; } }
  @media (min-width: 75em) {
    .button {
      background-color: yellow; } }

.is--hidden {
  display: none;
  visibility: hidden; }

.is--visiable {
  display: block;
  visibility: visible; }

body:before {
  display: block;
  content: 'mobile-first';
  font-family: monospace;
  text-align: center; }
  @media (min-width: 34em) {
    body:before {
      content: 'baby'; } }
  @media (min-width: 48em) {
    body:before {
      content: 'toddler'; } }
  @media (min-width: 62em) {
    body:before {
      content: 'teenager'; } }
  @media (min-width: 75em) {
    body:before {
      content: 'adult'; } }

/*# sourceMappingURL=master.css.map */
