html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: 700;
}

html {
  background: #f8f9fa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

html.wf-active #main {
  font-family: "adobe-caslon-pro";
}

body {
  font-family: SFMono-Regular, Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  line-height: 1.64;
  background-color: transparent;
  color: #343a40;
}

a {
  color: #be4bdb;
  cursor: pointer;
  text-decoration: none;
}

a:active {
  outline: 0;
  color: #aa29cb;
}

a:hover {
  outline: 0;
  color: #aa29cb;
}

a:focus {
  outline-color: #be4bdb;
}

::-moz-selection {
  background: #adbcfa;
}

::selection {
  background: #adbcfa;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 2px dotted #4c6ef5;
  padding-bottom: 1px;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

dfn {
  font-style: italic;
}

mark {
  background: #a3b4fa;
}

small {
  font-size: 90%;
}

sub,
sup {
  font-size: 90%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.5rem;
}

hr {
  height: 0;
}

kbd {
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  padding: 0.25rem;
  border-radius: 3px;
}

samp,
code {
  background-color: #e9ecef;
  color: #fa5252;
  display: block;
  padding: 1rem;
  font-family: SFMono-Regular, Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

samp,
pre {
  overflow: auto;
  margin: 0;
}

.table {
  min-width: 320px;
}

.table td,
.table th {
  border: 1px solid transparent;
  border-width: 0 0 1px;
  padding: 1rem;
  vertical-align: top;
  -webkit-transition: all 0.45s cubic-bezier(0.57, -0.24, 0.49, 1.56);
  transition: all 0.45s cubic-bezier(0.57, -0.24, 0.49, 1.56);
  border-color: #ced4da;
}

.is-hidden {
  display: none;
  visibility: hidden;
}

.has-text-hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font: "0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.has-text-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-invisible {
  visibility: hidden;
}

.is-visually-hidden,
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.is-visually-hidden.is-focusable:active,
.is-visually-hidden.is-focusable:focus,
.sr-only.is-focusable:active,
.sr-only.is-focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}

