//
//  Define your own design pattern

.section {
    &.has-padding {
        padding: 2rem 1rem;
    }
    &.has-border-top {
        border-top: 1px solid $border;
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.columns {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;

    @include mq('min-width', 'toddler') {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.column {
    display: block;
    padding: 1rem;

    @include mq('min-width', 'toddler') {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
}