//
// Mixins

@mixin hidden {
  display: none;
  visibility: hidden;
}

@mixin unhidden {
  display: block;
  visibility: visible;
}

@mixin hide_text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font: "0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@mixin text_truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin invisible {
  visibility: hidden;
}

@mixin visually_hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  &.focusable {
    &:active, &:focus {
      position: static;
      clip: auto;
      height: auto;
      width: auto;
      margin: 0;
      overflow: visible;
    }
  }
}

@mixin zero {
  margin: 0;
  padding: 0;
}

@mixin center_block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}