//
//  Settings
//  Global Variables & Configuration
@import '01_settings/variables';
//
//  Tools
//  Collection of Function & Mixins
@import '02_tools/functions';
@import '02_tools/mixins';
@import '02_tools/media-queries';
//
//  Generic
//  Ground Zero Styles & Normalization
@import '03_generic/viewport';
@import '03_generic/clearfix';
@import '03_generic/resets';
//
//  Base
//  HTML elements without classes
@import '04_base/site';
@import '04_base/elements';
@import '04_base/images';
@import '04_base/links';
@import '04_base/typography';
@import '04_base/content';
//
//  Objects
//  Design-free patterns
@import '05_objects/design-pattern';
//
//  Components
//  Designed & Styles Components
@import '06_components/button';
//
//  Trumps
//  Helper Classes & Overrides
@import '07_trumps/trump';
@import '07_trumps/debug';

h1.demo {
    font-weight: 100;
    font-size: 12px;
    color: $grey-dark;
    text-transform: uppercase;
    font-family: $family-monospace;
}