/* WebKit/Blink Browsers */
::selection {
  background: $html_link_color;
}
/* Gecko Browsers */
::-moz-selection {
  background: $html_link_color;
}

abbr[title] {
    border-bottom: 2px dotted $html_link_color;
}

b, strong {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

dfn {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    @include zero();
}
// Generate Headline Elements
@each $element, $size in $headlines {
  #{$element} {
    font-size: $size;
  }
}

mark {
    background: rgba($html_link_color, 0.5);
    color: $html_text_color;
    padding: 2px;
}

small {
    font-size: 90%;
}

sub,
sup {
    font-size: 90%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5rem;
}

sub {
    bottom: -0.5rem;
}

hr {
    height: 0;
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    letter-spacing: 1px;
    color: #575757;
}

code,
kbd {
    padding: .2rem .4rem;
    @include bordered;
}

code {
    display: block;
    line-height: 2;
}

pre {
    overflow: auto;
}
