::selection,
::-moz-selection {
  background: $html_link_color;
}

abbr[title] {
  border-bottom: 2px dotted $html_link_color;
}

b, strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

dfn {
  font-style: italic;
}

// Generate Headline Elements
@each $element, $size in $headlines {
  #{$element} {
    font-size: $size;
    margin: 0;
    margin-bottom: 1rem;
  }
}

mark {
  background: rgba($html_link_color, 0.5);
  color: $html_text_color;
  padding: 2px;
}

small {
  font-size: 90%;
}

sub,
sup {
  font-size: 90%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.5rem;
}

hr {
  height: 0;
}

samp {}
kbd {}
code {
  display: block;
  margin: 1rem 0;
}
pre {
  padding: 1rem;
  overflow: auto;
  margin: 0;
  background-color: whitesmoke;
}

$open-quote: '"';
$close-quote: '"';

blockquote {
  margin: 1rem;
  font-style: italic;
  font-size: 110%;
  text-indent: -0.41em;
  quotes: "#{$open-quote}" "#{$close-quote}";
  p:before {
    content: "#{$open-quote}";
    content: open-quote;
  }
  p:after {
    content: "";
    content: no-close-quote;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  p:last-of-type:after {
    content: "#{$close-quote}";
    content: close-quote;
  }
  q:before {
    content: "\2018";
    content: open-quote;
  }
  q:after {
    content: "\2019";
    content: close-quote;
  }
}