//
// Hidden.
@mixin hidden {
    display: none;
    visibility: hidden;
}

//
// Hide text.
@mixin hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font: "0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

//
// Truncate text.
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//
// Invisible.
@mixin invisible {
    visibility: hidden;
}

//
// Visually hidden.
@mixin visually-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    &.is-focusable {
        &:active,
        &:focus {
            position: static;
            clip: auto;
            height: auto;
            width: auto;
            margin: 0;
            overflow: visible;
        }
    }
}