@charset "UTF-8";
//
//  Media Queries Defaults
//
$mq_base_font_size: 16px !default;
$mq_responsive: true !default;
$mq_breakpoints: (
    mobile:  30em,
    tablet:  36em,
    desktop: 48em,
    wide:    62em
) !default;
$mq_static_breakpoint: desktop !default;
$mq_media_type: all !default;
//
// Global
//
$html_background: #f7f4f1;
$html_text_color: #222222;
$html_font_family: Georgia, Droid Serif, serif;
$html_line_height: 1.4;
$html_link_color: blue;
$html_link_color_visited: blue;
$html_link_color_active: blue;
$html_link_color_hover: blue;
//
//  Typography
//
$headline_font_family: sans-serif;
$headlines: (
  h1: 3.815em,
  h2: 3.052em,
  h3: 2.441em,
  h4: 1.953em,
  h5: 1.563em,
  h6: 1.25em
) !default;
//
// Utilities
//
@import 'utilities/boxsizing';
@import 'utilities/mixins';
@import 'utilities/media-queries';
@import 'utilities/clearfix';
@import 'utilities/viewport';
//
//  Base
//
@import 'base/resets';
@import 'base/site';
@import 'base/links';
@import 'base/images';
@import 'base/typography';
@import 'base/elements';
@import 'base/lists';
@import 'base/tables';
