//
// Global
//
$html_background: #f7f4f1;
$html_text_color: #222222;
$html_font_family: Georgia, Droid Serif, serif;
$html_line_height: 1.4;
$html_link_color: blue;
$html_link_color_visited: blue;
$html_link_color_active: blue;
$html_link_color_hover: blue;

//
//  Typography Variables
//
$headline_font_family: sans-serif;
$h1_size: 3.815em;
$h2_size: 3.052em;
$h3_size: 2.441em;
$h4_size: 1.953em;
$h5_size: 1.563em;
$h6_size: 1.25em;
//
//  Responsive Breakpoints
//
$bp1: 30em;
$bp2: 36em;
$bp3: 48em;
$bp4: 62em;
$bp5: 86em;
$bph: 1.5;
//
// Utilities
//
@import 'utilities/boxsizing';
@import 'utilities/mixins';
@import 'utilities/clearfix';
@import 'utilities/viewport';
//
//  Base
//
@import 'base/site';
@import 'base/resets';
@import 'base/links';
@import 'base/images';
@import 'base/typography';
@import 'base/elements';
@import 'base/lists';
@import 'base/tables';
//
//  Layouts and Grid
//
@import 'layout/grid';
//
//  Application Styles
//