//
// Example aside component
.aside {
  border: 1px solid $brand_color_purple;
  padding: 1rem;
}
.aside__headline {
  font-weight: 100;
  font-size: 1.2rem;
  text-align: right;
  border-right: 4px solid $brand_color_purple;
  padding-right: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $brand_color_purple;
}
.aside__entry--lead {
  &:first-line {
    font-weight: 700;
  }
}