//
// Content Defaults

.content {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
        line-height: 1.125;
        margin-bottom: 2rem;
        &:not(:first-child) {
            margin-top: 3rem;
        }
    }

    h1 {
        font-size: $size-huge;
        font-weight: $weight-bold;
    }

    h2 {
        font-size: $size-large;
    }

    h3 {
        font-size: $size-medium;
    }

    h4 {
        font-size: $size-normal;
    }

    h5, h6 {
        font-size: $size-small;
    }

    h6 {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    ul, ol {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;
    }

    ol {
        list-style: decimal outside;
    }

    ol ol {
        list-style: upper-roman outside;
    }

    ol ol ol {
        list-style: lower-roman outside;
    }

    ul {
        list-style: disc outside;
    }

    ul ul {
        list-style-type: circle;
        margin-top: 0.5rem;
    }

    ul ul ul {
        list-style-type: square;
    }

    li + li {
        margin-top: 0.25rem;
    }

    blockquote {
        background-color: whitesmoke;
        border-left: 5px solid $border;
        padding: 1.5rem;
        font-style: italic;
        text-indent: -0.41rem;
        quotes: "#{$open-blockquote}" "#{$close-blockquote}";

        p:before {
            content: "#{$open-blockquote}";
            content: open-quote;
        }

        p:after {
            content: "";
            content: no-close-quote;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        p:last-of-type:after {
            content: "#{$close-blockquote}";
            content: close-quote;
        }

        q:before {
            content: "\2018";
            content: open-quote;
        }

        q:after {
            content: "\2019";
            content: close-quote;
        }
    }

    blockquote:not(:last-child),
    p:not(:last-child),
    ol:not(:last-child),
    ul:not(:last-child),
    code:not(:last-child) {
        margin-bottom: 1rem;
    }
}