//
// Links
a {
  background: transparent;
  color: $color_text_link;
  text-decoration: none;
  &:visited {
    color: $color_text_link_visited;
  }
  &:active {
    outline: 0;
  }
  &:hover {
    outline: 0;
    color: $color_text_link_hover;
  }
  &:focus {
    outline-color: $color_text_link;
  }
}
