//
// Site Defaults

html {
    background: $background;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    &.wf-active {
        #main {
            font-family: "adobe-caslon-pro";
        }
    }
}

body {
    font-family: $font-family-base;
    line-height: 1.64;
    background-color: transparent;
    color: $text;
}
