//
// Typography

::selection {
    background: lighten($primary, 20%);
}

abbr[title] {
    border-bottom: 2px dotted $primary;
}

b, strong {
    font-weight: $weight-bold;
}

em, i {
    font-style: italic;
}

dfn {
    font-style: italic;
}

mark {
    background: lighten($primary, 20%);
}

small {
    font-size: 90%;
}

sub,
sup {
    font-size: 90%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5rem;
}

sub {
    bottom: -0.5rem;
}

hr {
    height: 0;
}

kbd {
    background-color: whitesmoke;
    border: 1px solid $border;
    padding: 0.25rem;
    border-radius: $radius;
}

samp,
code {
    background-color: whitesmoke;
    color: $red;
    display: block;
    padding: 1rem;
    font-family: $family-monospace;
}

samp,
pre {
    overflow: auto;
    margin: 0;
}