//
// Testing

@if $debug {
    body:before {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        content: 'mobile-first: 0-543px';
        font-family: $family-monospace;
        font-size: 65%;
        letter-spacing: 1px;
        text-align: center;
        background-color: $green;
        color: $white;
        @include mq('min-width','baby') {
            content: 'baby: 544px - 767px';
            background-color: $blue;
        }
        @include mq('min-width','toddler') {
            content: 'toddler: 768px - 991px';
            background-color: $purple;
        }
        @include mq('min-width','teenager') {
            content: 'teenager: 992px - 1199px';
            background-color: $lime;
        }
        @include mq('min-width','adult') {
            content: 'adult: 1200px';
            background-color: $red;
        }
    }
}