//
// Testing

@if $debug {
    body:before {
        display: block;
        content: 'mobile-first: 0-33em';
        font-family: monospace;
        text-align: center;
        background-color: $green;
        color: $white;
        @include mq(baby) {
            content: 'baby: 34em';
            background-color: $blue;
        }
        @include mq(toddler) {
            content: 'toddler: 48em';
            background-color: $purple;
        }
        @include mq(teenager) {
            content: 'teenager: 62em';
            background-color: $lime;
        }
        @include mq(adult) {
            content: 'adult: 75em';
            background-color: $red;
        }
    }
}